/*
Website: Rivers.gov
URI: https://www.rivers.gov/
Description: The National Wild and Scenic Rivers System
Author: Brad Sappenfield
Author URI: http://www.focalpointmarketing.com/
**-----------**
* Colors Used *
**-----------**
Black-  #000000
White-  #ffffff
Blue (Lighter)- #1570B4
Blue (Darker) - #323C67
Tan - #f0e9df
Brown - #847664
Gray - #575967
Light Charcoal - #4d4d4d
*/
/* Basic Element Styles */
@import url('style/core.css');
/* Custom Form Styles */
@import url('style/forms.css');
/* Custom Accordion Styles */
@import url('style/toggle.css');
/* Custom Navigation Styles */
@import url('style/navigation.css');
/* Custom Forms Styles */
@import url('style/forms.css');

/*--- Begin General Template Elements ---*/

body { font-size: 13px; }

#outer-wrapper {
    width: 1016px;
    height: 100%;
    margin: 0px auto;
}

#inner-wrapper {
    width: 1000px;
    padding: 0px 8px;
    height: 100%;
    margin: 0px auto;
    background-image: url('images/secondary-main-bg-repeat.png');
    background-repeat: repeat-y;
}

#masthead {
    color: #fff;
    width: 1016px;
    padding: 0px;
    border: none;
    height: 171px;
    margin: 0px auto;
    /*background-image: url('images/header.png');*/
    background: url('images/50_year_header.png') center center no-repeat;
    background-repeat: no-repeat;
}

#logo {
    float: left;
    width: 115px;
    height: 140px;
    margin: 18px 0px 0px 45px;
}

#logo-group {
    float: left;
    width: 220px;
    height: 60px;
    margin: 90px 0px 0px 780px;
    *margin: 90px 0px 0px 620px; /* Added to fix issue in IE */
    position: absolute;
}

#logo-group img {
    float: left;
}

#footer {
    color: #ffffff;
    margin: 0px auto;
    padding: 5px 0px 40px 0px;
    text-align: center;
    position: static;
    width: 1000px;
    height: 100%;
    min-height: 275px;
    background-color: #f0e9df;
}

/*--- End General Template Elements ---*/

/*--- Begin Homepage Elements ---*/

#home-inner-wrapper {
    width: 1000px;
    padding: 0px 8px;
    height: 100%;
    margin: 0px auto;
    background-image: url('images/home-iw-bg.png');
    background-repeat: repeat-y;
}

#slideshow {
    background-image: url('images/slideshow-bg.png');
    background-repeat: no-repeat;
    color: #fff;
    width: 895px;
    float: none;
    padding: 10px 6px 20px 115px;
    border: none;
    height: 401px;
    margin: 0px auto;
    z-index: 2000;
}

#home-content {
    background-color: #f0e9df;
}

#feature-1 {
    color: #666;
    width: 980px;
    float: none;
    padding: 20px 10px 20px 10px;
    border: none;
    height: 287px;
    margin: 0px auto 20px;
    /*background-image: url('images/dr-bg.png');*/
    /*background-repeat: no-repeat;*/
    background: url('images/dr-bg.jpg') center bottom #fff no-repeat;
}

#feature-2 {
    color: #fff;
    width: 1000px;
    float: none;
    padding: 0px;
    border: none;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    *padding: 20px 0px;
}

#feature-2 a {
    color: #126db1;
}

#about {
    border: 1px solid #ccc;
    width: 822px;
    height: 165px;
    margin: 35px auto 25px 70px;
    position: static;
    /* Adds rounded corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#about-text {
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 20px 15px 10px 20px;
    width: 307px;
}

#newsfeed {
    float: right;
    width: 435px;
    height: 115px;
    margin: 0px 0px 0px 0px;
    padding: 15px 25px 15px 0px;
    /*background-image: url('images/newsfeed-bg.png');*/
    background-image: url('images/mule-deer.png');
    background-repeat: no-repeat;
    overflow: visible;
    background-position: 5px 20px;
}

/*--- End Homepage Elements ---*/

/*--- Begin Secondary page Elements ---*/

#content {
    background-color: transparent;
    margin: 0px auto 0px auto;
    padding: 10px 0px;
    height: 100%;
    width: 1000px;
    position: static;
    clear: both;
    z-index: 100;
}

#content-topper {
    width: 1000px;
    padding: 0px 8px;
    height: 30px;
    margin: 0px auto;
    background-image: url('images/secondary-main-bg.png');
    background-repeat: no-repeat;
}

#content-wrapper {
    width: 952px;
    padding: 0px 0px 20px 0px;
    height: 100%;
    margin: 0px auto -30px auto;
    background-color: #ede9de;
    /* Adds Shadow */
    -moz-box-shadow: 0 6px 8px #333;
    -webkit-box-shadow: 0 6px 8px #333;
    box-shadow: 0 6px 8px #333;
    z-index: 120;
}

#content-page {
    width: 570px;
    height: 100%;
    min-height: 750px;
    padding: 0px 13px 220px 13px;
    margin: 0px 0px -20px 21px;
    background-color: #fff;
    float: left;
}

#intro-box {
    background-color: #ecf2f5;
    width: 523px;
    margin: 80px 0px 25px 0px;
    padding: 20px 21px 32px 21px;
}

#accords {
    margin: 20px 0px 20px 0px;
}

#rivers-box {
    background-color: #efe9de;
    width: 546px;
    clear: both;
    height: 100%;
    min-height: 525px;
    margin: 85px 0px 0px 0px;
    position: relative;
    padding: 10px 12px 20px 12px;
}

#details-box {
    width: 509px;
    clear: both;
    height: 100%;
    margin: 0px auto 35px 0px;
    padding: 12px 24px 22px 12px;
    /* Adds rounded corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #b5aca0;
    position: relative;
}

#details-text {
    width: 350px;
    height: 100%;
    float: left;
}

/*--- Begin Tranportation Page Elements ---*/

#trans-box {
    background-color: #efe9de;
    width: 546px;
    clear: both;
    height: 100%;
    min-height: 525px;
    margin: 85px 0px 0px 0px;
    position: relative;
    padding: 10px 12px 20px 12px;
}

#trans-details-box {
    width: 480px;
    clear: both;
    height: 100%;
    margin: 10px auto 0px 0px;
    padding: 10px 53px 22px 10px;
    /* Adds rounded corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #b5aca0;
    position: relative;
}

#trans-details-text {
    width: 350px;
    height: 100%;
    float: left;
}

/*--- End Transportation Page Elements ---*/

#lower-content {
    margin: 32px 0px 0px 12px;
    height: 100%;
    clear: both;
    min-height: 220px;
}

#lc-left {
    float: left;
    width: 380px;
    height: 100%;
}

#block-quote {
    float: left;
    margin: 0px 0px 0px 20px;
    width: 150px;
    border-top: 6px solid #efe9dd;
    border-bottom: 6px solid #efe9dd;
    padding: 10px 0px;
    height: 100%;
}

#open-content {
    width: 535px;
    height: 100%;
    margin: 40px 0px 25px 0px;
    padding: 20px 21px 32px 21px;
    text-align: justify;
}

#footer-top {
    background-image: url('images/footer-top.png');
    background-repeat: no-repeat;
    background-position: top center;
    height: 41px;
    z-index: 1000;
    position: relative;
}

#photo-frame {
    background-image: url('images/photo-frame.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    width: 313px;
    height: 264px;
    float: left;
}

#photo-frame img {
    margin: 25px 0px 0px 25px;
    width: 262px;
    height: 196px;
    overflow: hidden;
}

#photo-frame p {
    width: 202px;
    padding: 25px;
    line-height: 20px;
    margin: 0px 0px 0px 10px;
}

#photo-details {
    width: 210px;
    height: auto;
    float: left;
    margin: 10px 0px 0px 10px;
}

#photo-credit {
    float: left;
    margin: 120px 0px 0px 0px;
}

/* Begin Sidebar Elements*/

#sidebar {
    float: left;
    width: 250px;
    padding: 36px 0px 0px 0px;
}

#sidebar-map {
    padding: 10px 0px 30px 36px;
}

#map-menu {
    background-image: url('images/map-menu-bg.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    width: 271px;
    height: 73px;
    padding: 10px 0px 0px 65px;
    margin: 5px 0px 0px 0px;
    overflow: visible;
}

#state-dropdown {
    height: 25px;
    margin: 8px 0px 0px 2px;
}

#river-dropdown {
    height: 25px;
    margin: 0px 0px 0px 2px;
}

/* Begin Regional Sidebar Photos*/

#region {
    width: 307px;
    height: 469px;
}

#region-text {
    width: 255px;
    height: 55px;
    font-size: 12px;
    font-style: italic;
    margin: 30px 25px 0px 15px;
    position: absolute;
    color: #4d4d4d;
    line-height: 16px;
}

.sb-general, .sb- {
    /* Default/General */
    background-image: url('images/sidebar-general.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.sb-alaska {
    /* Alaska */
    background-image: url('images/sidebar-alaska.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.sb-inlandnw {
    /* Inland Northwest */
    background-image: url('images/sidebar-inlandnw.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.sb-midwest {
    /* Midwest */
    background-image: url('images/sidebar-midwest.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.sb-northeast {
    /* Northeast */
    background-image: url('images/sidebar-northeast.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.sb-northwest {
    /* Northwest */
    background-image: url('images/sidebar-northwest.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.sb-southeast {
    /* Southeast */
    background-image: url('images/sidebar-southeast.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.sb-southwest {
    /* Southwest */
    background-image: url('images/sidebar-southwest.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.sb-tropical {
    /* Tropical */
    background-image: url('images/sidebar-tropical.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

/* End Regional Sidebar Photos*/

/* End Sidebar Elements*/

/* Begin Accordion Elements*/

/* End Accordion Elements*/

.mapper {
    margin: -20px auto;
    padding: 20px 0px 0px 0px;
}

#map-content {
    background-color: transparent;
    padding: 20px 0px;
    height: 867px;
    width: 1000px;
    background-image: url('images/map-bg.jpg');
    background-repeat: no-repeat;
    margin: 0px auto -45px auto;
    position: static;
}

#map-topper {
    width: 1000px;
    padding: 0px 8px 0px;
    height: 30px;
    margin: 0px auto 0px auto;
    background-image: url('images/map-topper.png');
    background-repeat: no-repeat;
    background-position: center top;
    position: static;
}

#map-wrap {
    width: 900px;
    padding: 10px 50px 0px 50px;
    height: 375px;
    margin: 35px auto 0px auto;
    *padding: 35px 50px 0px 50px;
}

#map-extra {
    width: 827px;
    height: 220px;
    background-image: url('images/divide-lines.png');
    background-repeat: no-repeat;
    margin: -30px auto 0px auto;
}

a.me-alaska {
    width: 396px;
    height: 198px;
    float: left;
    background-image: url('images/map-alaska.png');
    background-repeat: no-repeat;
    background-position: top left;
    margin: 20px 0px 0px 0px;
    display: block;
}

a.me-hawaii {
    float: left;
    width: 133px;
    height: 91px;
    margin: 110px 0px 0px 30px;
    background-image: url('images/map-hawaii.png');
    background-repeat: no-repeat;
    background-position: top left;
    display: block;
}

a.me-pr {
    float: left;
    width: 150px;
    height: 100px;
    margin: 150px 0px 0px 100px;
    background-image: url('images/map-puertorico.png');
    background-repeat: no-repeat;
    background-position: top left;
    display: block;
}

a.me-alaska:hover, a.me-hawaii:hover, a.me-pr:hover {
    background-position: bottom left;
}

#dropdown-box {
    width: 272px;
    padding: 120px 0px 0px 235px;
    height: 93px;
    margin: 639px 0px 0px 30px;
    background-image: url('images/dropdown-box-bg.png');
    background-repeat: no-repeat;
    position: absolute;
}

#framed-content {
    background-color: transparent;
    margin: 0px auto 0px auto;
    padding: 10px 30px;
    height: 100%;
    min-height: 350px;
    width: 940px;
    position: static;
    clear: both;
    z-index: 100;
}

#toolbar {
    background-image: url('images/navbar.png');
    background-repeat: no-repeat;
    width: 1000px;
    height: 28px;
    clear: both;
    margin: 0px auto;
    padding: 0px 8px;
}

/*Styling used for Search Page
#toolbar a {
color: #fff;
font-size: 12px;
line-height: 28px;
margin: 0px 0px 0px 20px;
}
*/

#searchbox {
    float: left;
    margin: 3px 0px 0px 0px;
    width: 175px;
}

.qa-result {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ccc;
    margin: 10px 0px;
}

/*--- End Secondary page Elements ---*/

/*--- Begin Navigation Elements---*/

/*--- Begin TOP Navigation---*/

#navmenu {
    width: 825px;
    margin: 0px;
    padding: 0px;
    float: left;
}

#zoom-nav {
    width: 300px;
    margin: 30px auto 0px auto;
    background-color: #f2feff;
    border: 1px solid #156a70;
}

#zoom-nav ul {
    padding: 10px 0px;
}

#zoom-nav ul li {
    list-style-type: none;
    display: inline;
    margin: 10px 20px;
}

/*--- Begin FOOTER Navigation ---*/

#footernav {
    width: 100%;
    margin: 10px 0px 0px 0px;
    height: 38px;
}

#footernav ul {
    width: 920px;
    height: 38px;
    /*background-color: #b5ac9f;*/
    background: #7e7568;
    margin: 0px;
    *margin-left: -80px; /* Added to fix issue in IE */
    /* Adds top rounded corners */
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#footernav ul li {
    list-style-type: none;
    display: inline;
    margin: 0px 0px 0px 5px;
    padding: 0px 15px 0px 5px;
    width: 100%;
    height: 38px;
    line-height: 38px;
    border-right: 1px solid #575967;
}

#footernav ul li a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0px;
}

#footernav ul li a:hover {
    color: #4d4d4d;
}

#footernav ul li.last, #navmenu ul li.last {
    border: 0px;
}

#footertabs {
    width: 900px;
    margin: 30px auto 0px 60px;
    text-align: left;
}

#footertabs ul {
    margin: 10px 0px 0px 25px;
    padding: 0px;
    line-height: 20px;
    list-style-type: none;
}

.ft-column {
    width: 205px;
    float: left;
    text-align: left;
    margin: 10px 0px 0px 10px;
}

/*--- End FOOTER Navigation ---*/

/*--- End Navigation Elements ---*/

/* = Map Styles
-----------------------------------*/

#nwsrs_map {
    margin: 0;
}

.river-page #nwsrs_map {
    margin: 80px 0 0;
}

.river-page #rivers-box {
    margin-top: 0;
}

.nwsrs-lrg-map-link {
    display: inline-block;
    float: right;
    margin: 10px 0 20px;
    width: 100%;
    text-align: right;
}

/* = Modal dialogue
-----------------------------------*/

.map-modal {
    background: #000;
    background: rgba(0,0,0,.75);
    z-index: 99999;
    /*padding: 60px;*/
    box-sizing: border-box;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
}

.flex-frame {
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.flex-frame iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.close-toggle {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px !important;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #dedede;
    color: #999;
    z-index: 100000;
}

.close-toggle:hover,
.close-toggle:visited {
    background-color: #dddddd;
    color: #666;
}

.active-modal {
    overflow: hidden;
}

/* = Story Map Section
-----------------------------------*/

.nwsrs-story-map-container {
    padding: 40px 0;
    background: url('images/nwsrs_waterfall.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 10;
}

.nwsrs-story-map-container::after {
    content: '';
    background: #1F2B6A;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    opacity: .7
}

.nwsrs-story-map-content {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
    position: relative;
    z-index: 20;
}

.nwsrs-story-map-content * {
    text-align: center;
    color: #fff;
    line-height: 1;
}

.nwsrs-story-map-content h3 {
    font-size: 20pt;
    margin: 0 0 20pt;
    text-shadow: -3px 3px 1px #1F2B6A;
    text-transform: uppercase;
}

.nwsrs-story-map-content p {
    font-size: 10pt;
    line-height: 1.25em;
    margin: 0 0 20pt 0;
}

.map-button,
.map-button:visited {
    background: none;
    border: 2px solid #fff;
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16pt;
    border-radius: 25px;
    display: inline-block;
    transition: all .3s linear;
    color: #fff;
}

.map-button:hover {
    background: rgba(255,255,255,.75);
    border-color: rgba(255,255,255,.75);
    cursor: pointer;
    font-size: 16pt;
    color: #1F2B6A;
}

.nwsrs-external-map-link {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
}


/* = Storymap Callout
-----------------------------------*/

body.nwsrs-map #map-content { position: relative; }

.nwsrs-storymap-callout {
    position: absolute;
    right: -20px;
    top: 50%;
}

.nwsrs-storymap-callout::before {
    content: '';
    border-width: 20px;
    border-color: transparent transparent transparent #1A2662;
    border-style: solid;
    bottom: -20px;
    position: absolute;
    right: -20px;
    z-index: 20;
}

.nwsrs-storymap-callout a {
    display: block;
    padding: 20px 40px;
    color: #fff;
    height: 100%;
    font-size: 18pt;
    position: relative;
    overflow: hidden;
    background: rgb(32,45,105); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(32,45,105,1) 0%, rgba(24,97,165,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(32,45,105,1) 0%,rgba(24,97,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(32,45,105,1) 0%,rgba(24,97,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202d69', endColorstr='#1861a5',GradientType=0 ); /* IE6-9 */
    z-index: 25;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,.35);
    text-align: center;
    transition: all .3s linear;
}

.nwsrs-storymap-callout a::before {
    content: '';
    position: absolute;
    left: 0;
    margin: 10px 0;
    width: 110%;
    height: 75%;
    top: 0;
    border-top: 2px solid #5AADD1;
    border-bottom: 2px solid #5AADD1;
    opacity: .5;
    /*transform: skewX(5deg);*/
}

.nwsrs-storymap-callout a:hover {
    color: #5AADD1;
}

/* = Visibility Classes
-----------------------------------*/

.hide {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.hide:focus {
    position: static;
    width: auto;
    height: auto;
}

input[type="submit"].hide-value {
    left: 0;
    text-indent: -9999px;
}


/* = 50th Anniv. Page
-----------------------------------*/

/* = Layout
-----------------------------------*/

.nwsrs-section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    /*clear: both;*/
    display: block;
}

.nwsrs-section::after {
    content: '';
    display: table;
    clear: both;
}

.nwsrs-row::after {
    content: '';
    display: table;
    clear: both;
}

.nwsrs-columns {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}

.nwsrs-columns::after {
    content: '';
    display: table;
    clear: both;
}

.nwsrs-columns.collapse {
    padding: 0;
}

.nwsrs-25 {
    width: 25%;
}

.nwsrs-33 {
    width: 33%;
}

.nwsrs-50 {
    width: 50%;
}

.nwsrs-66 {
    width: 66%;
}

.nwsrs-75 {
    width: 75%;
}

.nwsrs-callout {
    text-align: center;
}

.nwsrs-callout > p {
    font-size: 200%;
    line-height: 1.35;
    font-style: italic;
}

.text-center { text-align: center; }

.nwsrs-vert-padded-column {
    padding-top: 50px;
    padding-bottom: 40px;
}

.nwsrs-section img {
    max-width: 100%;
    height: auto;
}

.nwsrs-section hr {
    border: 1px solid #cdcdcd;
    margin: 10px 0 20px;
}

/* = Specifics
-----------------------------------*/

.full-width #content {
    width: 100%;
    background: none;
    padding: 0;
}

.full-width #content-wrapper,
.full-width #content-page {
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: none;
}

#nwsrs_intro_hero {
    background: url("images/north-powder-river.jpg") center bottom no-repeat;
    padding: 50px 0 0;
    background-size: cover;
    position: relative;
}

#nwsrs_intro_hero::after {
    content: '';
    background: linear-gradient(to top, rgba(21,112,180,1) 0%,rgba(21,112,180,0) 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: block;
}

#nwsrs_intro_hero > .nwsrs-row {
    position: relative;
    z-index: 10;
}

#nwsrs_intro_hero h1 {
    text-align: center;
    color: #fff;
    margin: 0 0 20px;
    padding: 0;
    font-size: 300%;
    text-shadow: 0 0 8px rgba(0,0,0,.35);
}

#nwsrs_intro_hero h1 span {
    font-weight: normal;
    font-size: 75%;
}

.nwsrs-main-content h2 {
    margin: 0 0 15px 0;
}

.nwsrs-main-content {
    background: #fff;
}

.nwsrs-main-content p { letter-spacing: -.01em; }

.nwsrs-callout {
    background: #efefef;
}

.nwsrs-callout p {
    color: #666;
}

.nwsrs-banner-cta {
    background: url("images/nwsrs-banner.jpg") center center no-repeat;
    background-size: cover;
}

.nwsrs-banner-cta h2 {
    color: #fff;
    font-size: 200%;
}

.nwsrs-banner-cta h2 a {
    color: #D6B156;
    font-size: inherit;
}

.link-label {
    padding: 20px 0;
    display: inline-block;
}

#connect_heading {
    font-size: 150%;
    padding-top: 50px;
    text-transform: uppercase;
    color: #666;
}

/* = Social Media
  ------------------------------------------*/
  
  .nwsrs-social-media-wrap {
    width: 100%;
    margin: 20px 0;
  }

  .nwsrs-social-media-icons {
    position: relative;
    list-style: none;
    margin-right: 40px;
    text-align: center;
  }
  
  .nwsrs-social-media-icons li {
    display: inline-block;
    vertical-align: middle;
  }
  
  .nwsrs-social-media-icons li a.social-link {
    display: block;
    background: #7e7568;
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 1;
    margin-left: 5px;
  }

.nwsrs-social-media-icons a.social-link[title="Facebook"] { background: #3B5998; }
.nwsrs-social-media-icons a.social-link[title="Twitter"] { background: #0084b4; }
.nwsrs-social-media-icons a.social-link[title="Pinterest"] { background: #bd081c; }
.nwsrs-social-media-icons a.social-link[title="Flickr"] { background: #0063dc; }
.nwsrs-social-media-icons .flickr-button img { padding: 0 10px; display: inline-block; }
  
  .nwsrs-social-media-icons li i {
    font-size: 20px;
    line-height: 35px;
  }
  
  #footertabs { margin-top: 0; }
  #footertabs h4 { margin-top: 0; }
  
/* = GIS page
  ------------------------------------------*/
    
/*
  #content-page .nwsrs-download-links {
    list-style: circle inside;
    margin: 0 0 20px 10px !important;
  }
*/

  .wsrs-map-img img {
    width: 100%;
    height: auto;
  }

/* = Clearfix Hack (https://css-tricks.com/snippets/css/clear-fix/)
-----------------------------------*/

.row:after,
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix,
* html .row { zoom: 1; } /* IE6 */

*:first-child+html .clearfix,
*:first-child+html .row { zoom: 1; } /* IE7 */


/* = Grid
-----------------------------------*/

.row {
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    margin-bottom: 20px;
}

.row.collapse { padding: 0; }

.column {
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%
}

.column.centered {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

.column p,
.column h3 { margin: 0 0 10px 0; }

.column:last-child {
    float: right;
}

.col-100 { width: 100%; }
.col-87 { width: 87.5%; }
.col-75 { width: 75%; }
.col-66 { width: 66%; }
.col-50 { width: 50%; }
.col-33 { width: 33.33%; }
.col-25 { width: 25%; }
.col-12 { width: 12.5%; }


/* = Grid Customization
-----------------------------------*/

.row.callout {
    padding: 10px 10px 5px;
    border: 1px solid #ccc;
    margin: 0 70px 40px;
    border-radius: 5px;
}

.callout .pull-title {
    text-transform: uppercase;
    margin: -20px 0 20px 70px;
    padding: 0 10px;
    background: #f0eadf;
    display: inline-block;
}

.callout.no-border { border: none; }
#footer .row.callout { margin-bottom: 0; }


/* = Alignment
-----------------------------------*/

.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }

.float-right {
    float: right;
    display: inline-block;
    margin: 0 0 10px 10px;
}

.float-left {
    float: left;
    display: inline-block;
    margin: 0 10px 10px 0;
}

.center-align {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
}

/* = Photo Credits
-----------------------------------*/

.nwsrs-photo-credits p {
    font-size: 75%;
    font-style: italic;
    line-height: 1.5em;
}

/* = Homepage Hero for 50th Anniv.
-----------------------------------*/

.nwsrs-50-homepage-hero.row {
    padding: 100px 0;
    background: url("../images/nwsrs-50-homepage-hero.jpg") center center no-repeat;
    margin: 0;
}

.nwsrs-50-homepage-hero.row .column:last-child {
    margin-right: 10px;
}

/* = Mroe stuff
-----------------------------------*/

.fullwidth #content {overflow: hidden; position: relative;}

.fullwidth .mainhead {
    width: 90%;
    background-image: url('../images/mainhead-full.png');
}

.fullwidth #content-wrapper {
    overflow: hidden;
}

.fullwidth #content-page {
    width: 880px;
}

/* = Custom Accordion
-----------------------------------*/

.accordion-heading {
    border: 1px solid #ccc;
    padding: 10px 10px 10px 30px;
    margin: 0 0 10px;
}

.accordion-heading:hover {
    cursor: pointer;
}

.accordion-heading::before {
    content: '\25B6';
    margin-right: 10px;
    margin-left: -20px;
    font-size: 10px;
    display: inline-block;
    transition: all linear .2s;
    color: #999;
}

.accordion-heading.active-accordion::before {
    transform: rotate(90deg);
}

.accordion-content {
    margin: -10px 0 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
}

/*Second level accordion*/
.accordion-content .accordion-heading {
    padding: 5px;
    color: #999;
    border: none;
}

.accordion-content .accordion-heading::before {
    margin-left: 0;
}

.accordion-content .accordion-content {
    border: none;
}

.accordion-content .accordion-heading.active-accordion::before {
    transform: rotate(90deg) translate(0%, 0%);
}

/* = Full width page
-----------------------------------*/

.fullwidth #content-page ul,
.fullwidth #content-page ol {
    width: auto;
    margin: 0 0 10px 20px;
    padding: 0;
}

.fullwidth #content-page ul {
    list-style: disc outside none;
}

.fullwidth #content-page ul li a {
    color: #1570b4;
    font-size: inherit;
    line-height: inherit;
}

.fullwidth #content-page {
    padding-bottom: 40px;
}