/*--- Begin General Rules ---*/

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0px auto;
    padding: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
}

/*--- Begin Link <a> tags ---*/

a {
    color: #1570b4;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:visited {
    color: #1570b4;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #1570b4;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#footertabs a {
    color: #4d4d4d;
    text-decoration: none;
    font-weight: normal;
}

#footertabs a:hover, #photo-details a {
    color: #4d4d4d;
    text-decoration: none;
    font-weight: bold;
}

a.findmore {
    margin: 10px 0px 0px 0px;
    display: block;
}

a.findmore:hover {
    margin: 10px 0px 0px 0px;
    display: block;
    color: #323c67;
}

/*--- Begin Map and Zoomify Buttons ---*/

a.map-btn {
    display: block;
    background-image: url('../images/map-btn.png');
    width: 251px;
    height: 206px;
    text-indent: -9999px;
}

a.zoomify-btn {
    display: block;
    background-image: url('../images/zoomify-btn.png');
    width: 150px;
    height: 161px;
}

a.map-btn:hover, a.zoomify-btn:hover {
    background-position: bottom left;
}

.home-btn {
    position: absolute;
    margin: 7px 0px 0px 660px;
}

.zoomify-btn {
    float: left;
    margin: 0px 0px 0px 370px;
    *margin: 0px;
}

/*--- End Map and Zoomify Buttons ---*/

/*--- Begin List Formatting <ul> and links within ---*/

#content-page ul {
    width: 100%;
    margin: 10px 0px 0px 20px;
    list-style-type: none;
}

#content-page ul li a {
    color: #323c67;
    font-size: 14px;
    line-height: 24px;
}

#content-page ul li a.external {
    color: #4d4d4d;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}

/*--- End List Formatting </ul> ---*/

/*--- End Link </a> tags ---*/

/*--- Begin Paragraph Formatting <p> ---*/

p {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
    line-height: 18px;
    margin: 10px 0px;
}

#feature-1 p {
    color: #4d4d4d;
    margin: 5px 0px 0px 52px;
    padding: 5px;
    width: 550px;
    line-height: 17px;
}

#feature-2 p {
    color: #4d4d4d;
    line-height: 17px;
    margin: 5px 0px 0px 0px;
}

#newsfeed p {
    color: #4d4d4d;
    font-weight: normal;
    margin: 5px 0px;
    width: 100%;
    float: none;
    padding: 0px;
}

#sidebar p {
    font-style: italic;
    font-size: 12px;
    color: #4d4d4d;
}

#photo-details p {
    font-style: italic;
    font-size: 13px;
    color: #4d4d4d;
}

#photo-credit p {
    font-style: italic;
    font-size: 12px;
    color: #847664;
}

/*--- End Paragraph Formatting </p> ---*/

/*--- Begin Heading Formatting <h> ---*/

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1570b4;
    letter-spacing: 0px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

h1 span {
    font-weight: normal;
}

#feature-1 h1 {
    width: 308px;
    height: 60px;
    background-image: url('../images/dr-heading.png');
    background-repeat: no-repeat;
    margin: 0px 0px 0px -17px;
    line-height: 55px;
    padding: 0px 0px 0px 72px;
    text-transform: uppercase;
}

h1.mainhead {
    width: 649px;
    height: 63px;
    background-image: url('../images/mainhead.png');
    background-repeat: no-repeat;
    margin: -12px 0px 0px -8px;
    line-height: 60px;
    padding: 0px 0px 0px 82px;
    position: absolute;
    text-transform: uppercase;
}

h1.mainhead-seal {
    width: 649px;
    height: 100px;
    background-image: url('../images/mainhead-seal.png');
    background-repeat: no-repeat;
    margin: -31px 0px 20px -8px;
    line-height: 105px;
    padding: 0px 0px 0px 132px;
    position: absolute;
    text-transform: uppercase;
}

h1.mainhead-map {
    width: 890px;
    height: 75px;
    background-image: url('../images/map-head.png');
    background-repeat: no-repeat;
    margin: -24px 0px 20px -11px;
    line-height: 105px;
    padding: 0px 0px 0px 132px;
    position: absolute;
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #323c67;
    letter-spacing: 0px;
    font-size: 14px;
}

#feature-2 h2 {
    text-align: left;
    background-color: #f0eadf;
    margin: -15px 0px 0px 83px;
    *margin: -10px 0px 0px 15px;
    padding: 5px 10px;
    position: absolute;
}

#slideshow-text h1 {
    font-size: 17px;
    margin: 5px 0px;
}

#intro-box h2 {
    padding: 10px 0px 5px 0px;
}

#lc-left h2 {
    padding: 15px 0px 0px 0px;
}

h3 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #323c67;
    font-size: 14px;
    text-align: left;
    text-transform: none;
}

#newsfeed h3 {
    color: #1570b4;
    margin: 10px 0px 5px 0px;
}

#footertabs h4 {
    font-size: 13px;
    color: #323c67;
    background-color: #b5ab9f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: bold;
    font-style: normal;
}

#footertabs h4 a {
    color: #323c67;
    font-weight: bold;
    font-style: normal;
}

h4 {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #847664;
    font-size: 17px;
    text-align: left;
    font-style: italic;
    line-height: 21px;
}

#footernav h4 {
    font-size: 13px;
    color: #575967;
}

h5 {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    letter-spacing: 0px;
    font-size: 13px;
    text-align: left;
}

h6 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    letter-spacing: 0px;
    font-size: 11px;
    text-align: left;
}

/*--- End Heading <h> formatting ---*/

.clear {
    clear: both;
}

/*--- End General Rules ---*/