/*Search Box Styles*/

input.searchfield {
    background-image: url('../images/search-box.png');
    background-repeat: no-repeat;
    width: 148px;
    height: 21px;
    background-color: transparent;
    float: left;
    border: 0px;
}

input.searchbutton {
    width: 18px;
    height: 17px;
    background-image: url('../images/search-btn.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: transparent;
    float: left;
    border: 0px;
    margin: 2px 0px 0px 0px;
}

.searchbutton:hover {
    background-position: top left;
    width: 18px;
    height: 17px;
}

.formElement {
    display: inline-block;
    float: left;
    margin: 5px 0px;
}

#forms-box {
    width: 750px;
    margin: 0px auto;
}

label {
    width: 125px;
    float: left;
    font-weight: bold;
}

input.radio {
    float: left;
    margin: 0px 5px 0px 0px;
}

input {
    float: left;
}

select {
    width: 120px;
    float: left;
    margin: 0px 0px 0px 5px;
}

select.expand {
    width: 305px;
    overflow: visible;
    margin: 0px 0px 0px -180px;
}