

/* Style the thumbnails */
.pika-thumbs{ padding: 0 16px;}
.pika-thumbs li:last {margin: 0;}
	.pika-thumbs li .clip {position:relative;height:100%;text-align: center; vertical-align: center; overflow: hidden;}
	
/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage {width: 552px;height:353px;position: relative;padding:  32px 0px 40px 0px;}
.pika-stage img{height:100%;margin:0px;*margin:0px 0px 0px 20px;}

.pika-stage .caption,.pika-stage .caption p,.pika-textnav,.pika-textnav a,.pika-textnav a.previous,.pika-textnav a.next {display:none;}

/* Ths play, pause, prev and next buttons */
.pika-imgnav a,.pika-imgnav a.previous,.pika-imgnav a.next,.pika-imgnav a.play .pika-imgnav a.pause {
display:none;}

/*for the tool tips*/
.pika-tooltip,.pika-counter{display:none;}

/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */		
.pika-loader{ display:none; }

/*if you just want to adjust the size of the stage and the thumbnails, you can do so by editing the following lines: */
	.pika-thumbs li {float: left; list-style-type: none; width: 50px; height:50px;padding: 0px; margin: 2px; border:1px solid #323C67;background-color:#dbdbdb; cursor: pointer;}
		

.pikachoose {width: 820px; margin: 0 auto;position:relative;}
.pika-thumbs {margin: 10px 0 0 20px; width:250px;position: absolute;top: 10px;right: 25px;}


	#pikame{
z-index:10000;
background-repeat:no-repeat; 
background-image:url('../images/thumbnail-box-bg.png');
width:219px; 
height:262px; 
margin: 0px 0px 0px 545px;
*margin: 0px 0px 0px 0px;
padding: 140px 0px 0px 45px;
*padding: 140px 0px 0px 52px;
*width:212px;
position:absolute;
background-position:top left;
}

#photo-edges { 
position:absolute;
width: 524px; 
height:393px; 
padding:0px 20px; 
margin: 10px 0px 0px 20px;
*padding:0px 6px;
*margin:10px 0px 0px 0px;
background-image:url('../images/photo-edges.png'); 
background-repeat:no-repeat; -moz-border-radius: 10px; 
-webkit-border-radius: 10px;
background-position:top left;
z-index:1000;
}		


 #slideshow-text {
 margin: 35px 0px 0px 580px;
 width:180px;
 position:absolute;
 z-index:12000;
 }
 
#slideshow-text p {
line-height:15px;
}
