/* Navigation Menu Styles */

/* 	LEVEL ONE */
ul.dropdown { 
position: relative;  
width: 825px;
height: 28px;
margin: 0px 0px 0px 0px;
padding: 0px;
z-index: 20000;
}
 
 ul.dropdown li {
font-weight: bold; 
float: left; 
display: inline;
position:relative;
height: 28px;
text-align:left;
position: static;
padding: 0px 7px;
list-style-type:none;
border-right:2px solid #1570B4;
 }
 
 
ul.dropdown a:hover, ul.dropdown a:active  ,ul.dropdown a:visited {  
outline: none;
text-decoration: none;
}
 
ul.dropdown li a , ul.dropdown li a:visited { 
display: block; 
padding: 0px 7px;
line-height:28px; 
color:#fff; 
text-transform:uppercase;
}

ul.dropdown li .hover,ul.dropdown li:hover {
position: relative;
}

ul.dropdown li .hover a {
color:#1570B4; 

}

ul.dropdown li {
 position: relative;
}

ul.dropdown li:hover .sub_menu {
 display: block;
}

/* LEVEL TWO */

ul.dropdown ul { 
width:303px;
/*visibility: hidden; */
 display: none;
position: absolute; 
top: 100%; 
left: 0; 
margin: 0px;
background-color:#f1f1f1; 
padding: 5px 10px 15px 10px;
border-top:0px solid #ccc;
border-left:2px solid #ccc;
border-right:2px solid #ccc;
border-bottom:2px solid #ccc;
-webkit-border-radius: 0em 0em 1em 1em;
-moz-border-radius: 0em 0em 1em 1em;
border-radius: 0em 0em 1em 1em;
z-index:200000;
/* Adds Shadow */
-moz-box-shadow: 0 0 4px #000;
-webkit-box-shadow: 0 0 4px #000;
box-shadow: 0 0 4px #000; }
 
ul.dropdown ul li { 
font-weight: normal; 
color: #000; 
float: none;
text-align: left; 
padding: 0px 0px 3px 0px; 
margin: 5px 0px 5px 0px; 
height: 25px;
line-height: 10px;
background-image: none; 
background-repeat: no-repeat;
border:0px;
width: 98%;
display:block;
}
									  
ul.dropdown ul li.external  {
font-family:Arial,Helvetica, sans-serif;
font-style:italic;
font-size:12px;
padding: 5px 0px 3px 0px; 
margin: 5px 0px 5px 10px; 
line-height:15px;
color:#666666;
display:block;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a { 
padding: 5px 35px 5px 10px; 
margin: 0px;
width: 260px; 
text-align: left;
background-color: #ddd;
text-transform: uppercase;
font-size: 12px;
color: #1570B4;
font-family:Arial,Helvetica, sans-serif;
font-weight:bold;
line-height:15px;
display:inline-block;
/* Adds top rounded corners */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
/* Adds Shadow */
/*-moz-box-shadow: 0 0 0px #000;*/
/*-webkit-box-shadow: 0 0 0px #000;*/
/*box-shadow: 0 0 0px #000; */
} 





ul.dropdown ul li a:hover { 
color:#223077;
}