/* Default Accordion Styling */

h2.trigger {
	padding: 0px 0px 0px 40px;
	margin: 5px 0px;
	background: url(../images/accord-bg.jpg) no-repeat;
	height: 32px;
	line-height: 32px;
	width: 565px;
	float: left;
	font-size:12px;
	color:#fff;
}
h2.trigger a{
	color:#6B705A;
	text-decoration: none;
	display: block;
	line-height: 22px;
}

h2.trigger a:hover{
	color: #6B705A;
	line-height: 22px;
}

h2.trigger:hover {
	cursor:pointer;
}

h2.active a, h2.active a:hover {
	color:#ffffff;
	text-decoration: none;
	display: block;
	line-height: 22px;
}


h2.active {background-position: left bottom;color: #fff;}


/* Toggle Container Styling */

.toggle_container {
	margin:0px 0px 0px 5px;
	padding: 5px 0px 5px 5px;
	background: transparent;
	overflow: hidden;
	width: 500px;
	clear: both;
}

.toggle_container .block {
	background: transparent;
	padding: 5px 40px 5px 5px;
}

.toggle_container .block p {
	padding: 5px 0 10px 0px;
	margin: 5px 0;
}

.toggle_container .block h6 {
border-bottom: 2px solid #ccc; 
font-family:Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 11px;
color: #000000;
	padding: 5px 0 10px 0px;
	margin: 5px 0;
}

.toggle_container img {
	float: left;
	margin: 10px 15px 15px 0;
	padding: 5px;
	background: #ddd;
	border: 1px solid #ccc;
}

