body {
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	background-color: #FFFF00;
	list-style-type: disc;
}
td {
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	font-variant: normal;
	background-color: #FFFF00;
}
li {
	list-style-type: none;
	list-style-image: url(images/fish.gif);
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	font-size: 13pt;
	color: #000099;
	background-color: #FFFF00;
	top: auto;
}
.credit {
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #000099;
	font-variant: normal;
	background-color: #FFFF00;
	}
.discover {
	background-color: #FFFF00;
}
