</div> <!--END #framed-content -->		
		<div class="clear"></div>
		
				<div id="footer-top"></div>
				
				<div id="footer">
				
					
	
					<div id="footernav">
					<ul>
					<li> <a href="http://www.nps.gov/ncrc/programs/rtca/nri/" title="NATIONWIDE RIVERS INVENTORY">Nationwide Rivers Inventory</a>
					</li>
					<li><a href="https://www.rivers.gov/kids/" title="">Kid's Site</a></li>
					<li><a href="https://www.rivers.gov/contact.cfm" title="">Contact Us</a></li> 
					<li> <a href="https://www.rivers.gov/privacy.html" title="">Privacy Notice</a>
					</li>
					<li> <a href="https://www.rivers.gov/information.html" title="">Q&amp;A Search Engine</a>
					</li>
					<li class="last"> <a href="https://www.rivers.gov/siteindex.html" title="">Site Map</a>
					</li>
					</ul>
					</div>
				
				
				</div> <!--END #footer -->
				
		</div> <!--END #inner-wrapper -->		
			
		</div> <!--END #outer-wrapper -->	

		
	</body>
</html>