</div> <!--END #framed-content -->
<div class="clear"></div>
<div id="footer-top"></div>
<div id="footer">
    <div id="footernav">
        <ul>
            <li><a href="http://www.nps.gov/ncrc/programs/rtca/nri/" title="Nationwide Rivers Inventory" target="_blank">Nationwide Rivers Inventory</a></li>
            <li><a href="https://www.rivers.gov/info/contact.cfm" title="Contact Us">Contact Us</a></li>
            <li><a href="https://www.rivers.gov/privacy.html" title="Privacy Notice" target="_blank" onClick="privacyPOP()">Privacy Notice</a></li>
            <li><a href="https://www.rivers.gov/information.php" title="Q &amp; A Search Engine">Q &amp; A Search Engine</a></li>
            <li class="last"><a href="https://www.rivers.gov/site-index.php" title="Site Map">Site Map</a></li>
        </ul>
    </div>

    <div class="nwsrs-social-media-icons-wrap">
        <!-- Pull in Font Awesome icon set -->
        <script src="https://use.fontawesome.com/b29caa6564.js"></script>
        <ul class="nwsrs-social-media-icons">
            <!--            <li><a href="#" title="Pinterest" target="_blank" class="social-link"><i class="fa fa-pinterest"></i></a></li>-->
            <!--            <li><a href="#" title="Twitter" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>-->
            <!--            <li><a href="#" title="Facebook" target="_blank" class="social-link"><i class="fa fa-facebook"></i></a></li>-->
            <li><a href="https://www.flickr.com/photos/wild_rivers/" title="Flickr" target="_blank" class="social-link"><i class="fa fa-flickr"></i></a></li>
            <li><a href="https://www.flickr.com/photos/wild_rivers/" target="_blank" class="flickr-button"><img src="https://s.yimg.com/pw/images/goodies/white-flickr.png" alt="Rivers on Flickr" /></a>
            </li>
        </ul>
    </div>


    <div id="footertabs">
        <div class="ft-column">
            <h4><a href="https://www.rivers.gov/map.php" title="Explore Designated Rivers">Designated Rivers</a></h4>
            <ul>
                <li><a href="https://www.rivers.gov/wsr-act.php" title="About WSR Act">About WSR Act</a></li>
                <li><a href="https://www.rivers.gov/map.php" title="State Listings">State Listings</a></li>
                <li><a href="https://www.rivers.gov/map.php" title="Profile Pages">Profile Pages</a></li>
            </ul>
        </div>
        <div class="ft-column">
            <h4><a href="https://www.rivers.gov/national-system.php" title="National System">National System</a></h4>
            <ul>
                <li><a href="https://www.rivers.gov/documents/rivers-table.pdf" title="WSR Table" target="_blank">WSR Table</a></li>
                <li><a href="https://www.rivers.gov/study.php" title="Study Rivers">Study Rivers</a></li>
                <li><a href="https://www.rivers.gov/stewardship.php" title="Stewardship">Stewardship</a></li>
                <li><a href="https://www.rivers.gov/publications.php" title="WSR Legislation">WSR Legislation</a></li>
            </ul>
        </div>
        <div class="ft-column">
            <h4><a href="https://www.rivers.gov/council.php" title="River Management">River Management</a></h4>
            <ul>
                <li><a href="https://www.rivers.gov/council.php" title="Council">Council</a></li>
                <li><a href="https://www.rivers.gov/agencies.php" title="Agencies">Agencies</a></li>
                <li><a href="https://www.rivers.gov/management-plans.php" title="Management Plans">Management Plans</a></li>
				<li><a href="http://www.river-management.org" title="River Management Society" target="_blank">River Mgt. Society</a></li>
                <li><a href="https://www.rivers.gov/mapping-gis.php" title="GIS Mapping">GIS Mapping</a></li>
            </ul>
        </div>
        <div class="ft-column">
            <h4><a href="https://www.rivers.gov/information.php" title="Resources">Resources</a></h4>
            <ul>
                <li><a href="https://www.rivers.gov/information.php" title="Q &amp; A Search">Q &amp; A Search</a></li>
                <li><a href="https://www.rivers.gov/bibliography.php" title="Bibliography">Bibliography</a></li>
                <li><a href="https://www.rivers.gov/publications.php" title="Publications">Publications</a></li>
                <li><a href="https://www.rivers.gov/mapping-gis.php" title="GIS Mapping">GIS Mapping</a></li>
                <li><a href="https://www.rivers.gov/publications.php" title="Logo &amp; Sign Standards">Logo &amp; Sign Standards</a></li>
                <!--<li><a href="https://www.rivers.gov/display.php" title="Display">Display</a></li>-->
            </ul>
        </div>

    </div>

</div> <!--END #footer -->

</div> <!--END #inner-wrapper -->

</div> <!--END #outer-wrapper -->

</body>

</html>