<cfinclude template="cfm-header.html">


         <h1>Wild &amp; Scenic River Questions &amp; Answers</h1>

           <cfinclude template="qry_qanda.cfm">
            
             
            <!--- Output query results  --->
            <cfoutput query="get_this_question">
             
	
			  
			  <h2>Q: #question#</h2>
				<br />
			  <h3>A:  #answer#</h3>
				<br />
			 
				<br />
		
			 </cfoutput>
			 			 
                <form><input type="Button" onClick="history.go(-2)" value="Try Another Question"></form></td>
   
		  
<cfinclude template="cfm-footer.html">