

 
<cfparam name="quest" default="">
<cfparam name="keyword" default="0">

				<cfquery name="get_questions" datasource="#ds#">
					select * from qanda 
					where  question LIKE 'zzzzz'
					
					 <cfif quest NEQ ''>
					 	OR keyword LIKE '%#quest#%'
						OR question LIKE '%#quest#%'
						OR answer LIKE '%#quest#%'
					 </cfif>
					 
					 <cfif keyword NEQ '0'>
					 	OR keyword LIKE '%#keyword#%'
						OR question LIKE '%#keyword#%'
						OR answer LIKE '%#keyword#%'
					 </cfif>
					 
					order by keyword
				</cfquery>	
			  
		
		<cfparam name="id" default="0">
		
		<cfquery name="get_this_question" datasource="#ds#">
			select * from qanda where id = #id#
		</cfquery>
		
		
<!-----
   Template: qry_qanda.cfm
   
   Author: James Hopkins, jim@fivek.com
   
	Purpose: selects query based on input filter
   
   Use: processes from data from q-and-a.html
   
   Date Created: 02/21/06
   
   
----->