﻿/* Main Application */
/* Drawer */
.top-bar {
  position: absolute;
  z-index: 36;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  color: #333; }

.esriRTL .top-bar {
  right: 0; }

.top-bar-title {
  display: none;
  font-size: 1.2em;
  overflow: hidden;
  margin-left: 40px;
  margin-top: 6px;
  max-width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis; }

@media only screen and (min-width: 760px) {
  .top-bar-title {
    display: block; } }

.esriRTL .top-bar-title {
  float: right;
  padding-right: 30px; }

.hamburger-button {
  position: absolute;
  top: 9px;
  left: 2px;
  cursor: pointer; 
  visibility: hidden;}

.hamburger-button:hover {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.esriRTL .hamburger-button {
  position: absolute;
  top:9px;
  right:2px;  
}

.border-container-outer {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden; }

.content-pane-left {
  width: 0px;
  max-width: 280px;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background: #fff;
  overflow: hidden;
  -webkit-transition: width 250ms ease;
  -moz-transition: width 250ms ease;
  -ms-transition: width 250ms ease;
  -o-transition: width 250ms ease;
  transition: width 250ms ease; }
.app-loading .loading-indicator, .app-error .loading-indicator {
  /* Show this class when loading or error */
  display: block; }

.app-loading .loading-indicator {
  /* Loading image */
  background-position: center center;
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat; }

.app-loading .content-pane-left {
  width: 0; }

.drawer-open .content-pane-left {
  width: 280px;
  overflow: auto;
  overflow-x: hidden;
  border-right: none; }

.esriRTL .drawer-open .content-pane-left {
  border-right: 0;
  border-left: 1px solid #ddd; }

.content-pane-center {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #545454; }

#mapDiv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

.node-hidden {
  display: none; }

.ac-container {
  width: 280px; }

.ac-container label {
  padding: 4px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #333;
  line-height: 33px;
  font-size: 1.2em;
  font-weight: 500;
  background-color: transparent;
  background-color: rgba(163, 163, 163, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80A3A3A3,endColorstr=#80A3A3A3);
  zoom: 1; }

.ac-container label:hover {
  background-color: transparent;
  background-color: rgba(189, 189, 189, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80BDBDBD,endColorstr=#80BDBDBD);
  zoom: 1; }

.esriRTL .ac-container label {
  text-align:left;
}
.ac-container.no-label input:checked + label:after {
  content: ""; }

.ac-container.no-label label:after, .ac-container.no-label input:checked + label:after {
  content: ""; }

.ac-container label:after, .ac-container input:checked + label:after {
  font-family: "simple";
  font-style: normal;
  font-weight: normal;
  content: '\e803';
  /*down arrow*/
  position: absolute;
  right: 23px;
  top: 7px;
  cursor: pointer; }

.ac-container input:checked + label:after {
  content: '\e804';
  /*up arrow*/
  cursor: pointer; }

.ac-container input {
  display: none; }

.ac-container .article {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF);
  zoom: 1;
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transition: box-shadow 0.6s linear;
  -moz-transition: box-shadow 0.6s linear;
  -ms-transition: box-shadow 0.6s linear;
  -o-transition: box-shadow 0.6s linear;
  transition: box-shadow 0.6s linear;
  /*transition: 
        height 0.3s ease-in-out, 
        box-shadow 0.6s linear;*/ }

.ac-container input:checked ~ div.ac-medium, .ac-container input:checked ~ div.ac-large {
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -ms-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  -webkit-transition: box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear;
  -ms-transition: box-shadow 0.1s linear;
  -o-transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  /*transition: 
        height 0.5s ease-in-out, 
        box-shadow 0.1s linear;*/ }

.simpleGeocoder .esriGeocoderMenu {
  color: #333; }

.ac-container input:checked ~ div.ac-medium {
  height: 20%; }

.ac-container input:checked ~ div.ac-large {
  height: 80%; }

.calcite label {
  margin-bottom: 0 !important; }

.panel_content {
  padding: 4px;
  max-width: 260px; }

.esriSimpleSlider {
  display: block;
  left: 2px; }

@media only screen and (min-width: 850px) {
  .esriSimpleSlider {
    display: block; } }

#search {
  position: absolute;
  top: 0;
  padding: 2px 4px;
  right: 8px; }

.esriRTL #search{
  left:8px;
  right:auto;
}
.open-drawer {
  /*Hide geocoder for small screen sizes when drawer is open*/
  display: none; }

@media only screen and (min-width: 450px) {
  .open-drawer {
    display: block; } }

/* Esri Jvascript API*/
.simpleGeocoder .esriGeocoderResult {
  color: #333; }

.esriPopup .pointer.bottom, .esriPopup .pointer.bottomLeft, .esriPopup .pointer.bottomRight {
  background: #f7f7f7 !important; }

.esriPopup.light .actionsPane .action.zoomTo {
  background-position: 0 -224px; }

.esriPopup .actionsPane .action {
  margin-right: 10px; }

.esriPopup.light .actionsPane .action {
  position: absolute;
  cursor: pointer;
  background-image: url("../images/popup-sprite.png");
  width: 12px;
  height: 12px;
  text-indent: -9999px; }

#locateDiv {
  position: absolute;
  top: 55px;
  left: 4px;
  z-index: 50; }

@media only screen and (min-width: 850px) {
  #locateDiv {
    top: 130px; } }

#homeDiv {
  position: absolute;
  top: 100px;
  left: 4px;
  z-index: 50; }

.nolocate #homeDiv{
  top:55px;
}
@media only screen and (min-width: 850px) {
  #homeDiv {
    top: 175px; } 
  .nolocate #homeDiv{
    top:130px;
  }
}

.esriSimpleSlider {
  top: 55px;
  left: 4px; }

@font-face {
  font-family: 'simple';
  src: url('../font/simple.eot?14672126');
  src: url('../font/simple.eot?14672126#iefix') format('embedded-opentype'), url('../font/simple.woff?14672126') format('woff'), url('../font/simple.ttf?14672126') format('truetype'), url('../font/simple.svg?14672126#simple') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "simple";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-menu:before {
  content: '\e801'; }

/* '' */
.icon-down-open:before {
  content: '\e803'; }

/* '' */
.icon-up-open:before {
  content: '\e804'; }
  
  #legend-cont {
	 position:fixed;
  bottom:0;
  left:0;
 
  background-color: #DDDDDD;
  border:1px solid black;
}

#legendDivToggler {
	position: relative !important;
	background-color: white !important;
	width: 100%;
	height: 30px;
}

.legendDivButton {
	position: relative !important;
    float: right;
    z-index: 10000;
    padding:2px 2px 2px 5px;
}
.legendDivTitle {
	position: relative;
	float: left;
	font-weight: bold;
	padding: 2px;
}

.esriAttribution {
	display: none;
}

.esriLegendServiceLabel {
	display: none;
}

.esriPopup .contentPane {
    max-height: 270px !important;
}

/* '' */